_site
.sass-cache
.DS_Store
_posts/notes.txt
notes.txt
_posts/2022-12-12-sql_queries_ccr_poverty_report.Rmd
_posts/2022-12-12-sql_queries_ccr_poverty_report.md
about.md.bak
.vs
.venv
assets\images\screenshot1.jpg
assets\images\screenshot2.jpg
assets\images\screenshot3.jpg
assets\images\author.jpg
assets\images\background_image.jpg
assets\images\cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg
